anyascii==0.3.2
asgiref==3.6.0
beautifulsoup4==4.11.2
certifi==2023.5.7
charset-normalizer==3.1.0
defusedxml==0.7.1
Django==4.2.1
django-bulma==0.8.3
django-countries==7.5.1
django-filter==22.1
django-modelcluster==6.0
django-permissionedforms==0.1
django-taggit==3.1.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
filetype==1.2.0
html5lib==1.1
idna==3.4
l18n==2021.3
mailchimp3==3.0.18
openpyxl==3.1.2
Pillow==9.5.0
pytz==2023.3
requests==2.30.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
telepath==0.3
typing_extensions==4.5.0
urllib3==2.0.2
wagtail==5.0
webencodings==0.5.1
Willow==1.5
