{% extends 'base.html' %}
{% load static wagtailcore_tags %}

{% block content %}
    <main>
        <section style="margin-top: 100px">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half-desktop is-full-mobile thank-you-container">
                        {% if messages %}
                            <ul class="messages" style="padding-bottom: 40px">
                                {% for message in messages %}
                                    <li class="message is-{% if message.tags == 'error' %}danger{% else %}info{% endif %}">
                                        <div class="message-header">
                                            <button class="delete" aria-label="delete"></button>
                                        </div>
                                        <div class="message-body">
                                            {{ message }}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="back-link-container" style="">
                            <a href="/" class="button is-rounded is-uppercase has-text-weight-bold back-button">
                                <span class="icon">
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                                <span>
                                    Back to Homepage
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}